<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="header__top-inner">


				<div class="header__logo">
					<a href="#!">
						<img src="../images/logo.png" alt="">
					</a>
				</div>
				<div class="header__text">
					<a href="#!"> <span>Need help?</span>
					</a>Talk to an expert: <a class="header__phone" href="tel:61383766284">+61 3 8376 6284</a>
				</div>
				<div class="header__box">
					<a href="#!" class="notification header__circle icon-bell-o"><span>8</span></a>
					<a href="#!" class="massage header__circle  icon-envelope-o"> <span>5</span> </a>
					<a href="#!" class="basket header__circle icon-shopping-cart"><span>8</span></a>
					<a href="#!" class="user">
						<div class="user__inner">
						
						<div class="user__img">
							<img src="../images/user-top.jpg" alt="">
						</div>
						<div class="user__info">
							<div class="user__name">Mike Hussy</div>
							<div class="user__money">$171.00</div>

						</div>
</div>

					</a>
					<a href="#!" class="header__btn header__btn--login">Login</a>
					<a href="#!" class="header__btn header__btn--register">Register
					</a>

				</div>
			</div>
		</div>
	</div>
	<!-- ! -->
	<div class="header__menu">
		<div class="container">
			<nav class="menu">
				<ul class="menu-list">
					<li><a href="!">Home</a></li>
					<li><a href="!">About</a></li>
					<li><a href="!">WordPress</a></li>
					<li><a href="!"> Joomla</a></li>
					<li><a href="!"> PSD </a></li>
					<li><a href="!">Plugins</a></li>
					<li><a href="!">Components</a></li>
					<li><a href="!">Pages</a></li>
					<li><a href="!">Contact</a></li>
					<li><a href="!">Help</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>