<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="header__top-inner">


				<div class="header__logo">
					<a href="#!">
						<img src="../images/logo.png" alt="">
					</a>
				</div>
				<div class="header__text">
					<a href="#!"> <span>Need help?</span>
					</a>Talk to an expert: <a class="header__phone" href="tel:61383766284">+61 3 8376 6284</a>
				</div>
			
				<div class="header__box">
					<div class="notification__box">
								<a href="#!" class="notification active header__circle icon-bell-o"><span>8</span></a>
						<div class="circle__menu notification__menu">
							<a href="#!" class="circle__item icon-bell-o icons__color">
								<div class="circle__img">
									<img src="../images/girl.jpg" alt="">
								</div>
								<div class="circle__info">
									<div class="circle__info-them">WordPress</div>
									<div class="circle__info-date">01 Dec, 2016</div>
								</div>
							</a>
							<a href="#!" class="circle__item icon-bell-o">
								<div class="circle__img">
									<img src="../images/girl.jpg" alt="">
								</div>
								<div class="circle__info">
									<div class="circle__info-them">WordPress</div>
									<div class="circle__info-date">01 Dec, 2016</div>
								</div>
							</a>
							<a href="#!" class="circle__item icon-bell-o">
								<div class="circle__img">
									<img src="../images/girl.jpg" alt="">
								</div>
								<div class="circle__info">
									<div class="circle__info-them">WordPress</div>
									<div class="circle__info-date">01 Dec, 2016</div>
								</div>
							</a>
						</div>
					</div>

		
				
					<div class="massage__box">
						<a href="#!" class="massage active header__circle  icon-envelope-o"> <span>5</span> </a>
						<div class="circle__menu massage__menu">
							<a href="#!"  class="circle__item icon-envelope-o icons__color">
								<div class="circle__img">
									<img src="../images/girl.jpg" alt="">
								</div>
								<div class="circle__info">
									<div class="circle__info-name">Kazi Fahim</div>
									<div class="circle__info-them">WordPress</div>
									<div class="circle__info-date">01 Dec, 2016</div>
								</div>
							</a>
							<a href="#!" class="circle__item icon-envelope-o">
								<div class="circle__img">
									<img src="../images/girl.jpg" alt="">
								</div>
								<div class="circle__info">
									<div class="circle__info-name">Kazi Fahim</div>
									<div class="circle__info-them">WordPress</div>
									<div class="circle__info-date">01 Dec, 2016</div>
								</div>
							</a>
							<a href="#!" class="circle__item icon-mail-reply">
								<div class="circle__img">
									<img src="../images/girl.jpg" alt="">
								</div>
								<div class="circle__info">
									<div class="circle__info-name">Kazi Fahim</div>
									<div class="circle__info-them">WordPress</div>
									<div class="circle__info-date">01 Dec, 2016</div>
								</div>
							</a>
					 
		
						</div>
					</div>
					
					<div class="basket__box">
						<a href="#!" class="basket active header__circle icon-shopping-cart"><span>8</span></a>
						<div class="circle__menu">
							<div class="circle__item">
								<div class="circle__img">
									<img src="../images/cat.jpg" alt="">
								</div>
								<div class="circle__info">
									<div class="circle__info-name">Grand Ballet</div>
									<div class="circle__info-them">WordPress</div>
									<div class="circle__info-price">$59</div>
								</div>
							</div>
					 
							<div class="circle__item">
								<div class="circle__img">
									<img src="../images/cat.jpg" alt="">
								</div>
								<div class="circle__info">
									<div class="circle__info-name">Grand Ballet</div>
									<div class="circle__info-them">WordPress</div>
									<div class="circle__info-price">$59</div>
								</div>
							</div>
					 
							<div class="basket__sum">
								<div class="basket__sum-title">
									<div class="basket__sum-total">Total</div>
									<div class="basket__sum-price">$118</div>
								</div>
							 <a class="basket__btn" href="#">Go to Cart</a>
							 <a class="basket__btn basket__btn--checkout" href="#">Go to Checkout</a>
							</div>
					
						</div>
					</div>
					

					<div class="user__box">
								<a href="#!" class="user">
						<div class="user__inner">
						
						<div class="user__img">
							<img src="../images/user-top.jpg" alt="">
						</div>
						<div class="user__info">
							<div class="user__name">Mike Hussy</div>
							<div class="user__money">$171.00</div>

						</div>
</div>

					</a>

					<div class="user__menu">
						<ul class="user__list">
							<li><a class="angle-right" href="#!">Profile Page</a></li>
							<li><a class="angle-right" href="#!">Portfolio</a></li>
							<li><a class="angle-right" href="#!">Account Setting</a></li>
							<li><a class="angle-right" href="#!">Downloads</a></li>
							<li><a class="angle-right" href="#!">Wishlist</a></li>
							<li><a class="angle-right" href="#!">Upload Item</a></li>
							<li><a class="angle-right" href="#!">Statement</a></li>
							<li><a class="angle-right" href="#!">Withdraws</a></li>
						</ul>
					</div>
					</div>
			

					<a href="#!" class="header__btn header__btn--login header__btn--login-off ">Login</a>
					<a href="#!" class="header__btn header__btn--logout header__btn--login-on">Logout
					</a>
					<a href="#!" class="header__btn header__btn--register header__btn--login-off">Register
					</a>

				</div>
				<div class="header__btn-menu  icon-user">

				</div>
			</div>
		</div>
	</div>
	<!-- ! -->
	<div class="header__menu">
		<div class="container">
			<nav class="menu">
				<div class="menu__btn">
					<div></div>
					<div></div>
					<div></div>
				</div>
				
				<ul class="menu-list">
					<li><a  href="!">Home</a></li>
					<li><a  href="!">About</a></li>
					<li><a  href="!">WordPress</a></li>
					<li><a  href="!"> Joomla</a></li>
					<li><a  href="!"> PSD </a></li>
					<li><a  href="!">Plugins</a></li>
					<li><a  href="!">Components</a></li>
					<li><a  href="!">Pages</a></li>
					<li><a  href="!">Contact</a></li>
					<li><a  href="!">Help</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>